# Node.js
node_modules/

# Build files
dist/
build/

# IDE/Editor specific files
.vscode/
.idea/

# Dependency lock files
yarn.lock
package-lock.json

# Environment variables
.env

# Logs
*.log

# macOS
.DS_Store

# Thumbnails
Thumbs.db